
/*eve style ye page main e*/
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#5145ba,#ff6699,#e5f5d5);
    background-size: 200% 200%;
 

    margin: 0;
    padding: 0;
}
@keyframes colorChange {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
    }
header {
    background-color:rgba(12, 37, 104, 0.397);;
    color: #070707;
    padding: 10px 0;
    font-family:Georgia, 'Times New Roman', Times, serif;


}
h1{
   text-align: center;
   font-size: 210%;
}
.logo{
   
   width: 70px;
   height: 70px;
   margin-left:480px;
   margin-bottom:-80px;
   background-color: none;
   border-radius: 50%;
}

main {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
img {
    width: 200px; /* Adjust this value as needed */
    height: 200px; /* Adjust this value as needed */
    object-fit: cover; /* This property ensures the image covers the specified dimensions */
    border: none;
    box-shadow: 0 0 5px solid#bcc0ca;
    border-radius:5%;
    
}


img:hover {
    transform: scale(0.5.1); /* Scale up the image slightly on hover */
    /* Optionally, you can add other effects like opacity or border */
  background-color: #efe2f186;
}

figure {
    position: relative;
    overflow: hidden; /* Ensure images and captions stay within their containers */
    margin: 0;
    padding: 0;
    text-align: center; /* Center-align figures */
    border-radius: 5%;
}
/*bo caption yet rsma*/

figcaption {
    position: absolute;
    bottom: -50px; /* Initially hide captions below the image */
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.397); /* Semi-transparent black background */
    color: #fff; /* White text color */
    transition: bottom 0.3s ease; /* Smooth transition effect for caption sliding */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

figure:hover figcaption {
    bottom: 0; /* Slide caption up on hover */
}


/* eve bo icona */

.fab { 
    color:white ;
    padding: 20px; 
    font-size: 20px; 
    width:25px;
    text-align: center; 
    text-decoration: none; 
    margin: 5px 2px; 
    border-radius:100%;
    text-shadow:5px 3px 25px white;
    
    
   }


 nav li:nth-child(3)a{ color: white;text-shadow:5px 3px 25px white; }
.fa-tiktok:hover{
 background-color:#0a0a0a;
 text-shadow:0px 0px 0px;
 transition:all 1s;}

 .fa-instagram{ color: white; text-shadow:5px 3px 25px white;}
 .fa-instagram:hover{
  background-color:#125688;
  text-shadow:0px 0px 0px;
  transition:all 1s;
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, rgba(0, 0, 0, 0) 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, rgba(0, 0, 0, 0)), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
 }
 
 .fa-snapchat-ghost { color: white;text-shadow:5px 3px 25px white; }
.fa-snapchat-ghost:hover{
 background-color:#e6e369;
 text-shadow:0px 0px 0px;
 transition:all 1s;}

 
